html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Futura Medium";
  src: url("../Futura\ Medium.otf") format("openType");
}
body {
  margin: 0;
  height: 200%;
  font-family: "Futura Medium";
}
.black_space {
  height: 150px;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  padding-left: 100px;
  color: white;
}
.black_space-logo {
  height: 105px;
}
.black_space-tekst {
  height: 105px;
}
.navbar-tekstura {
  width: 35%;
  background-image: url(../materials/tekstura.PNG);
  height: 150px;
  background-size: cover;
  position: absolute;
  right: 0;
}
.navbar {
  height: 60px;
  background: linear-gradient(to left, #d3ac67, #ffe3a0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  width: 100%;
}
.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  user-select: none;
  height: 100%;
  transition: all 0.2s ease;
}
.navbar li:hover {
  background-color: white;
  color: #d3ac67;
  transition: all 0.2s;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1d1d1d;
  color: white;
  text-align: center;
}
#second-nav {
  font-family: "Futura Medium";
  font-size: 22px;
  width: 200px;
  color: #d3ac67;
  margin-left: 100px;
  opacity: 70%;
  text-align: center;
  position: relative;
  right:50%;
}
.second-navbar {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 60px;
  visibility: hidden;
  background-color: #ffffff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 5px -1px #1d1d1d;
}
#second-nav:hover {
  opacity: 100%;
}
#aktivnosti:hover .second-navbar {
  visibility: visible;
}
h1 {
  font-family: "Futura Medium";
  font-size: xx-large;
  color: #1d1d1d;
  margin: 50px 0 0 100px;
  margin-bottom: 50px;
}
#naslovi {
  background-color: rgb(255, 255, 255);
  z-index: 1;
  width: 240px;
  height: min-content;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
}
.gold-hr1 {
  width: 95px;
  height: 4px;
  background-color: #d3ac67;
  position: absolute;
  top: 30.4%;
}
.gold-hr2 {
  width: 1615px;
  height: 4px;
  background-color: #d3ac67;
  position: absolute;
  top: 30.4%;
  right: 0;
}
.blue-hr1 {
  width: 95px;
  height: 4px;
  background-color: #31328b;
  position: absolute;
  top: 30%;
}
.blue-hr2 {
  width: 1615px;
  height: 4px;
  background-color: #31328b;
  position: absolute;
  top: 30%;
  right: 0;
}

.gold-hr3 {
  width: 95px;
  height: 4px;
  background-color: #d3ac67;
  position: absolute;
  top: 131.4%;
}
.gold-hr4 {
  width: 1640px;
  height: 4px;
  background-color: #d3ac67;
  position: absolute;
  top: 131.4%;
  right: 0;
}
.blue-hr3 {
  width: 95px;
  height: 4px;
  background-color: #31328b;
  position: absolute;
  top: 131%;
}
.blue-hr4 {
  width: 1640px;
  height: 4px;
  background-color: #31328b;
  position: absolute;
  top: 131%;
  right: 0;
}

.gold-hr5 {
  width: 95px;
  height: 4px;
  background-color: #d3ac67;
  position: absolute;
  top: 231.4%;
}
.gold-hr6 {
  width: 1680px;
  height: 4px;
  background-color: #d3ac67;
  position: absolute;
  top: 231.4%;
  right: 0;
}
.blue-hr5 {
  width: 95px;
  height: 4px;
  background-color: #31328b;
  position: absolute;
  top: 231%;
}
.blue-hr6 {
  width: 1680px;
  height: 4px;
  background-color: #31328b;
  position: absolute;
  top: 231%;
  right: 0;
}
.background {
  width: 1700px;
  height: 700px;
  background-color: #d3d3d3;
}
.background-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
