html{
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Futura Medium";
  src: url("../Futura\ Medium.otf") format("openType");
}
body {
  margin: 0;
  height: 200vh;
  font-family: "Futura Medium";
}
.black_space {
  height: 150px;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  padding-left: 100px;
  color: white;
}
.black_space-logo {
  height: 105px;
}
.black_space-tekst {
  height: 105px;
}
.navbar-tekstura {
  width: 35%;
  background-image: url(../materials/tekstura.PNG);
  height: 150px;
  background-size: cover;
  position: absolute;
  right: 0;
}
.navbar {
  height: 60px;
  background: linear-gradient(to left, #d3ac67, #ffe3a0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.navbar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  width: 100%;
}
.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  user-select: none;
  height: 100%;
  transition: all 0.2s ease;
}
.navbar li:hover {
  background-color: white;
  color: #d3ac67;
  transition: all 0.2s;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1d1d1d;
  color: white;
  text-align: center;
}
#second-nav {
  font-family: "Futura Medium";
  font-size: 22px;
  width: 200px;
  padding-left: 100px;
  color: #1d1d1d;
}
.second-navbar {
  width: 100vw;
  height: 30vh;
  position: absolute;
  right: 0;
  top: 60px;
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
#second-nav:hover {
  font-weight: 600;
}
#aktivnosti:hover .second-navbar {
  visibility: visible;
}
h1{
  font-family: "Futura Medium";
  font-size: xx-large;
  color: #1d1d1d;
  margin: 50px 0 0 100px;
  margin-bottom: 50px;
}
#naslovi{
  background-color: rgb(255, 255, 255);
  z-index: 1;
  width: 240px;
  height: min-content;
}
.links{
  display: flex;
  justify-content:space-evenly;
}
a{
  text-decoration: none;
}