.main-section {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.477)),
    url(../materials/school.jpeg);
  background-repeat: no-repeat;
  font-family: "Times New Roman";
  background-size: 1920px;
  background-position: center;
  height: 30%;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

.main-section__textComponent {
  font-size: 18px;
  font-weight: lighter;
  text-align: end;
  margin: 70px;
  margin-right: 6%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.main-section__textComponent .hr {
  width: 200px;
  height: 3px;
  background-color: #d3ac67;
  border: 0px;
}

.textComponent__button {
  height: 50px;
  width: 150px;
  background-color: #000000;
  transition: all 0.2s;
  color: white;
  border: 0;
}

.textComponent__button:hover {
  box-shadow: 2px 5px 10px #1d1d1d;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 14px;
}

.title-posts-section {
  margin-top: 50px;
  margin-bottom: -25px;
  color: black;
  display: flex;
  width: 100%;
  justify-content: center;
}
.posts-section {
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-right: 150px;
  height: 90vh;
  align-items: center;
}

.posts-section__post {
  padding: 20px;
}

.blue-hr {
  height: 6px;
  background-color: #2e3192;
}

.gold-hr {
  height: 3px;
  background-color: #d3ac67;
  margin-top: 5px;
}
.black-hr {
  width: 150px;
  height: 2px;
  background-color: black;
  margin: 30px;
}

.info-section {
  height: 35vh;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.info-section h1 {
  color: #d3ac67;
  height: 15px;
}

.info-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.info-section img {
  height: 150px;
}

.contact-section {
  color: black;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;
  font-size: 20px;
}

.contact-section__name {
  width: 35vw;
  height: 25px;
  background-color: rgb(238, 238, 238);
  border: 0;
  padding: 20px;
  font-size: 25px;
}

.contact-section__message {
  height: 20%;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  display: flex;
  text-align: left;
  align-items: baseline;
}

.contact-section__button {
  margin-top: 50px;
}

#tab-images {
  width: 100%;
}
.tab-container {
  width: 450px;
  height: 700px;
  background-color: white;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.3);
}
#tab-date {
  font-family: "Futura Medium";
  padding-left: 40px;
  font-weight: 600;
  color: #d3ac67;
}
#tab-info {
  font-family: "Futura Medium";
  padding-left: 40px;
  color: #1d1d1d;
  font-size: small;
}

#tab-heading {
  font-family: "Futura Medium";
  font-weight: 400;
  padding: 0 40px 0 40px;
  font-size: x-large;
  color: #312f90;
}
#tab-text {
  font-family: "Futura Medium";
  padding: 0 40px 0 40px;
  color: #727272;
  text-align: justify;
}
