@font-face {
  font-family: "Futura Medium";
  src: url("../Futura\ Medium.otf") format("openType");
}

body {
  margin: 0;
  height: 200vh;
  color: white;
  font-family: "Futura Medium";
}

.black_space {
  height: 150px;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.black_space-logo {
  height: 105px;
}

.black_space-tekst {
  height: 105px;
}

.navbar-tekstura {
  width: 30%;
  background-image: url(../materials/tekstura.PNG);
  height: 150px;
  background-size: contain;
  position: absolute;
  right: 0;
}

.navbar {
  height: 60px;
  background: linear-gradient(to left, #d3ac67, #ffe3a0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  user-select: none;
  height: 100%;
  transition: all 0.2s ease;
}

.navbar li:hover {
  background-color: white;
  color: #d3ac67;
  transition: all 0.2s;
  cursor: pointer;
}

.main-section {
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.684)),
    url(../materials/school.jpeg);
  font-family: "Times New Roman";
  background-size: 1920px;
  background-position: center;
  height: 30%;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

.main-section__textComponent {
  font-size: 18px;
  font-weight: lighter;
  text-align: end;
  margin: 70px;
  margin-right: 6%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.main-section__textComponent .hr {
  width: 200px;
  height: 3px;
  background-color: #d3ac67;
  border: 0px;
}

.textComponent__button {
  height: 50px;
  width: 150px;
  background-color: #1d1d1d;
  transition: all 0.2s;
  color: white;
}

.textComponent__button:hover {
  box-shadow: 2px 5px #000000;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 14px;
}

.posts-section {
  display: flex;
  justify-content: center;
  margin: 35px;
}

.posts-section__post {
  padding: 20px;
}

.blue-hr {
  height: 6px;
  background-color: #2e3192;
}

.gold-hr {
  height: 3px;
  background-color: #d3ac67;
  margin-top: 5px;
}
.black-hr {
  width: 150px;
  height: 2px;
  background-color: black;
  margin: 30px;
}

.info-section {
  height: 35vh;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.info-section h1 {
  color: #d3ac67;
  height: 15px;
}

.info-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.info-section img {
  height: 200px;
}

.contact-section {
  color: black;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;
  font-size: 20px;
}

.contact-section__name {
  width: 35vw;
  height: 25px;
  background-color: rgb(238, 238, 238);
  border: 0;
  padding: 20px;
  font-size: 25px;
}

.contact-section__message {
  height: 20%;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  display: flex;
  text-align: left;
  align-items: baseline;
}

.contact-section__button {
  margin-top: 50px;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 40%;
  background-color: #1d1d1d;
  font-size: 18px;
}

.footer-section__textComponents {
  justify-content: space-evenly;
  display: flex;
  height: 50%;
}

.footer-section__textComponents div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: baseline;
  color: #ffffff;
}

footer div a {
  margin-top: 20px;
  color: rgb(213, 213, 213);
}

footer p {
  font-size: 13px;
  text-align: start;
  margin: 50px;
  color: gray;
}

footer div a:hover {
  color: #d3ac67;
  cursor: pointer;
  text-decoration: underline;
}

.footer-section__proprietary {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
