@font-face {
  font-family: "Futura Medium";
  src: url("../Futura\ Medium.otf") format("openType");
}

body {
  margin: 0;
  height: 200vh;
  color: white;
  font-family: "Futura Medium";
}

.black_space {
  height: 150px;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.black_space-logo {
  height: 105px;
}

.black_space-tekst {
  height: 105px;
}

.navbar {
  height: 60px;
  background: linear-gradient(to left, #d3ac67, #ffe3a0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  user-select: none;
  height: 100%;
  transition: all 0.2s ease;
}

.navbar li:hover {
  background-color: white;
  color: #d3ac67;
  transition: all 0.2s;
  cursor: pointer;
}

.main-section {
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.684)),
    url(../materials/shool.jpg);
  font-family: "Times New Roman";
  background-size: 1350px;
  background-position: center;
  height: 30%;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

.main-section__textComponent {
  font-size: 18px;
  font-weight: lighter;
  text-align: end;
  margin: 70px;
  margin-right: 6%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.main-section__textComponent .hr {
  width: 200px;
  height: 3px;
  background-color: #d3ac67;
  border: 0px;
}

.textComponent__button {
  height: 50px;
  width: 150px;
  background-color: #1d1d1d;
  transition: all 0.2s;
  color: white;
}

.textComponent__button:hover {
  box-shadow: 2px 5px #000000;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 14px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1d1d1d;
  text-align: center;
}
