.button_container{
   width: 100%;
   height: 10vh;
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 20px;
}
button{
border-radius: 5px;
border: transparent;
cursor: pointer;
background: linear-gradient(to left, #d3ac67, #ffe3a0);
width: fit-content;
height: 40px;
}
.container{
    display: flex;
    flex-direction: column;
}
.rasporedi_container{
    
    display:grid;
    grid-template-columns: 1fr;
    place-items: center;
    
}
iframe{
    visibility: hidden;
    grid-row-start: 1;
    grid-column-start: 1;
}
.selected{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 51%, rgba(0,22,255,1) 100%);
    color: white;
    
}