.main_pozadina{
background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.477)),
    url(../materials/classroom.jpg);
  background-repeat: no-repeat;
  font-family: "Times New Roman";
  background-size: 1920px;
  background-position: center;
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.main_pozadina_tekst{
    font-size: 65px;
    font-weight: bolder;
    margin-bottom: 100px;
    text-decoration: underline;
    text-decoration-color: purple;
}
.naslov{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    
}
.naslov h1, i{
  font-size: 55px;
}
.raspored{
    width: 100%;
    height: 35rem;
    background: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}