@font-face {
  font-family:"Futura Medium";
  src: url('../Futura\ Medium.otf') format("openType");
}
body {
  margin: 0;
  height: 200vh;
  font-family: "Futura Medium";
}
.black_space {
  height: 150px;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  padding-left: 100px;
  color: white;
}

.black_space-logo {
  height: 105px;
}

.black_space-tekst {
  height: 105px;
}

.navbar {
  height: 60px;
  background: linear-gradient(to left, #d3ac67, #ffe3a0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  width: 100%;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  user-select: none;
  height: 100%;
  transition: all 0.2s ease;
}

.navbar li:hover {
  background-color: white;
  color: #d3ac67;
  transition: all 0.2s;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1d1d1d;
  color: white;
  text-align: center;
}

#right{
  transform: scaleX(-1);
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 50px;
}

img{
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}

#titletext{
  position: relative;
  display: inline-block;
  font-size: 30px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card{
  min-height: 30%;
  min-width: 40%;
  position: sticky;
  top: 150px;
  left: 30%;
  display: inline-block;
  border: solid 2px black;
  overflow-y: 0;
}

#selectText{
  margin: 0;
  width: 30%;
  height: 100%;
}

#select{
  margin: 0;
  width: 70%;
  height: 100%;
}

.smjerovi{
  width: 100%;
}
