.naslov{

    display: flex;
    font-size: 14rem;
    color: black;
    justify-content: center;
    margin-top: 9rem;

}

.kartica{

    border-radius: 30px;
    width: 1000px;
    height: 400px;
    margin-left: 28rem;
    margin-top: 15rem;
    box-shadow: 0px 0px 36px 6px rgba(211,172,103,0.75);
    -webkit-box-shadow: 0px 0px 36px 6px rgba(211,172,103,0.75);
    -moz-box-shadow: 0px 0px 36px 6px rgba(211,172,103,0.75);
    transition: 0.5s;

}
.kartica:hover{

    box-shadow: 0px 0px 70px 8px rgba(211,172,103,0.75);
    -webkit-box-shadow: 0px 0px 70px 8px rgba(211,172,103,0.75);
    -moz-box-shadow: 0px 0px 70px 8px rgba(211,172,103,0.75);
    transition: 0.5s;
}



.lijevi_dio{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 400px;
    border-radius: 30px;
    justify-content: center;
    

}

.desni_dio{

    width: 500px;
    height: 400px;
    border-radius: 30px;
    

}
.godina_lijeva{

    color: black;
    font-size: 60px;
    margin-top: -7rem; 
    
}
.godina_desna{

    color: black;
    font-size: 60px;
    margin-top: -20rem;
    
}

.plava{

    width: 1400px;
    height: 10px;
    background-color: #2e3192;
    margin-top: 100px;

}
.zuta{

    width: 1400px;
    height: 10px;
    background-color: #d3ac67;
    margin-top: -9px;
    

}

.slika_lijeva{

    width: 500px;
    border-radius: 30px;
    position: absolute;
    margin-top: -24.3rem;
    margin-left: 30rem;
    z-index: -1;

}

.slika_desna{

    width: 500px;
    border-radius: 30px;
    position: absolute;
    z-index: -1;
   


}

.tekst1{
    width: 300px;
    position: absolute;
    text-align: left;
    margin-top: 3rem;
    color: black;
    font-size: 29px;
    z-index: -2;
}

.opis_slike{

    color: black;
    margin-left: 66rem;
    margin-top: 1rem;
    font-size: 20px;

}